<%- include('partials/head'); -%>
        <button class="admin_button"><a class="return-to-admin" href="/admin" >Return to Admin Options</a></button>
        <button class="admin_button"><a class="return-to-admin" href="/admin/view_events" >Back</a></button>

        <br><br>
        <div class="admin_page_container">

            <h3><%= event.event_name %></h3>
                
            <%= event.event_date %>
            <br>
            <%= event.event_time %> 
            <br>
            <%= event.event_location %>
            <br>
            <%= event.event_additionalInfo %>
        </div>
    </body>
</html>

