<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="admin_main_container">

  <button class="pofile_page_button"><a href="/admin" >Return to Admin Options</a></button>
  <br><br>

  <div class="profile_container">
    <h1>Profile</h1>
    <i class="fa fa-user fa-5x profile_icon" aria-hidden="true"></i>
    <p>
      Username: <%= user.username %><br/>
      Display Name: <%= user.displayname %><br/>
      <% if (user.email) { %>
      Email: <%= user.email %><br/>
      <% } %>
    </p>
  </div>
</div>

<%- include('partials/footer'); -%>