<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>

<div class="admin_main_container">

  <button class="admin_button"><a class="return-to-admin" href="/admin" >Return to Admin Page</a></button>
  <br><br>

  <div class="profile_container">
    <h1>Profile</h1>
    <p>
      Username: <%= user.username %><br/>
      Name: <%= user.displayname %><br/>
      <% if (user.email) { %>
      Email: <%= user.email %><br/>
      <% } %>
    </p>
  </div>
</div>

<%- include('partials/footer'); -%>