<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Entries</title>
</head>
<body>
    <h3>USER ENTRIES</h3>
    <h4><%= single_user.userFirstName %></h4>
    <br>
    <br>
    <%= single_user.userLastName %>
    <br>
    <br>
    <%= single_user.userEmail %> 
    <br>
    <br>
    <%= single_event.userPhoneNumber %>
    <br>
    <br>
    <%= single_event.userAddress %>
    <br>
    <br>
    <%= single_event.userCity %>
    <br>
    <br>
    <%= single_event.userState %>
    <br>
    <br>
    <%= single_event.userZipcode %>
    <br>
    <br>
    <%= single_event.HearAboutUs %>
    <br>
    <br>
    <%= single_event.userComment %>
</body>
</html>